<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IYardSale"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000"/>

            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9617/YardSaleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYardSale"
                contract="IYardSale" name="BasicHttpBinding_IYardSale" />
        </client>
    </system.serviceModel>
</configuration>